/*rgb(76, 126, 187)*/

html {
    background-image: url("images/coding_background.jpg");
    color: rgb(7, 38, 44);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

title {
    height: 60px;
}

body {
   max-width: 1000px;
    align-items: center;
    margin: 0;
    z-index: -1;
}

#whole-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    max-width: fit-content;
    height: fit-content;
    background-color: rgb(14, 82, 96);
    z-index: -2;
    
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(49, 117, 143);
    width: 100%;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(49, 117, 143);
    width: auto;
    height: 30px;
    margin: 0;
    padding-top:10px;
    padding-bottom: 5px;
}

.resume {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.download {
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.resumePic {
    max-width: 30px;
    max-height: 30px;
    padding-right: 10px;
}
.nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}
.nav-link:hover {
    color: rgb(197, 199, 90);
}

#yellowDivider {
    position: relative;
    height: 8px;
    background-image: linear-gradient(to right, rgb(49, 117, 143) , rgb(197, 199, 90) 90%);
    max-width: 1000px;
}

#navProgressBar {
    position: relative;
    background-image: linear-gradient(to left, rgb(233, 11, 11), white);
    height: 8px;
    max-width: 994px;
    border: solid;
    border-top: 2px;
    border-color: white;
}

#intro-section  {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;
    height: fit-content;
    background-image: url(images/background.jpg);
    
}

.skills .collaborate {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#skill-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
}

.icon {
    padding: 20px;
    max-width: 60px;
}

.icon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    opacity: 60%;
  }
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.contact {
    padding: 20px;
    max-width: 50px;
}

.contact:hover {
    opacity: 40%;
}

#projects-section {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 58, 84);
}

a {
    text-decoration: none;
}

.projects {
width: 100%;
height: fit-content;
background-color: rgb(36, 58, 84);
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(49, 117, 143);
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 100px;
    padding: 30px;
    margin: 10px;
    transition: transform .5s;
}

.project:hover {
    transform: scale(1.1);
    background-color: rgb(50, 74, 102);
}

.project-list {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(197, 199, 90);
    margin-top: 0;
    text-shadow: 2px 2px 4px black;
}

.projects-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding-left: 45px;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.project-link-text {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.project-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: fit-content;
    padding: 30px;
    padding-top: 0;
}

.learning-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(49, 117, 143);
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
}

.skills-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(49, 117, 143);
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.intro-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
}

.aka-text {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: rgb(189, 196, 220);
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
}

.greeting-text {
    font-family: 'Caveat', cursive;
    font-size: 36px;
    font-weight: normal;
    color: rgb(197, 199, 90);
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    transform: scale(1.5);
}

.greeting {
    animation: zoom-in 2.4s;
}

@keyframes zoom-in {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }

#about-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: fit-content;
    background-color: white;
}

.aka, .intro, .greeting {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.about-me {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    background-color: rgb(49, 117, 143);
    align-items: center;
}

.about-text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(178, 211, 252);
    text-align: center;
    word-wrap: break-word;
    flex-wrap: wrap;
    max-width: 800px;
    margin-bottom: 23px;
}

#collaborate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    height: fit-content;
    padding: 15px 0 0 0;
    background-color: rgb(49, 117, 143);
}

h5 {
    margin: auto;
    padding-bottom: 35px;
    color: black;
}

.collab-text p {
    color: rgb(197, 199, 90);
    font-size: 36px;
    font-family: 'Permanent Marker', cursive;
    margin-right: 30px;
    text-shadow: 4px 4px 4px black;
    padding-left: 30px;
    animation: bounce 1s ease infinite;
}

@keyframes bounce {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.collaborate-text {
    text-align: center;
    color: rgb(49, 117, 143);
    font-size: 24px;
    margin-top: 0;
}



footer {
    background-color: rgb(36, 58, 84);
    height: fit-content;
    width: 100%;
}    

.copywright, .copy {
    color: white;
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
}

.bottomSpacer {
    height: 8px;
    
}

.footer-box, .footer-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.upButton img {
    max-width: 35px;
    padding-right: 8px;
}
.upButton {
    flex-direction: row;
    color: white;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.toolTip {
    position: relative;
    display: inline-block;
    border-bottom: none;
    align-items: center;
    justify-content: center;
}

.toolTip .toolTipHtml,
.toolTip .toolTipCss,
.toolTip .toolTipJs,
.toolTip .toolTipReact,
.toolTip .toolTipGitHub,
.toolTip .toolTipJira,
.toolTip .toolTipAzure,
.toolTip .toolTipApi,
.toolTip .toolTipJson {
    visibility: hidden;
    width: 120px;
    background-color: rgb(161, 161, 161);
    color: #000000;
    text-align: center;
    font-size: .9rem;
    padding: 9px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
.toolTip:hover .toolTipHtml,
.toolTip:hover .toolTipCss,
.toolTip:hover .toolTipJs,
.toolTip:hover .toolTipReact,
.toolTip:hover .toolTipGitHub,
.toolTip:hover .toolTipJira,
.toolTip:hover .toolTipAzure,
.toolTip:hover .toolTipApi,
.toolTip:hover .toolTipJson {
    visibility: visible;
  }
